**/bin/
**/obj/
**/.vs/
*.user
*.suo
*.pdb
*.dbmdl

*.exe
*.pdb
*.manifest
*.cache

# Thư mục và file hệ thống
.DS_Store
Thumbs.db
desktop.ini

# Node.js
node_modules/

# Binaries and build outputs
*.exe
*.pdb
*.manifest
*.cache