@{
    ViewData["Title"] = "Register";
}

<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&amp;family=Roboto:wght@400;700&amp;display=swap"
          rel="stylesheet" />
    <style>
        body {
            font-family: "Roboto", sans-serif;
        }

        .font-montserrat {
            font-family: "Montserrat", sans-serif;
        }
    </style>
    <script>
        localStorage.theme = "light";
    </script>
</head> 
<body class="">

    <div class="max-w-4xl max-sm:max-w-lg mx-auto p-6 mt-6">
        <div class="text-center mb-12 sm:mb-16">
            <a href="javascript:void(0)" class="flex items-center justify-center">
                <img src="https://storage.googleapis.com/a1aa/image/a7088ece-c446-4481-62c2-113c500c70c8.jpg"
                    alt="logo" class='w-14 rounded-full' />
                <h1 class="text-3xl font-bold text-green-800 ml-3">Thể Dục</h1>
            </a>
            <h4 class="text-slate-600 text-base mt-6">Đăng nhập vào tài khoản của bạn</h4>
        </div>

        <form>
            <div class="grid sm:grid-cols-2 gap-8">
                <div>
                    <label class="text-slate-800 text-sm font-medium mb-2 block">Tên Đầu Tiên</label>
                    <input name="name" type="text"
                        class="bg-slate-100 w-full text-slate-800 text-sm px-4 py-3 rounded focus:bg-transparent outline-green-500 transition-all"
                        placeholder="Enter name" />
                </div>
                <div>
                    <label class="text-slate-800 text-sm font-medium mb-2 block">Tên Cuối Cùng</label>
                    <input name="lname" type="text"
                        class="bg-slate-100 w-full text-slate-800 text-sm px-4 py-3 rounded focus:bg-transparent outline-green-500 transition-all"
                        placeholder="Enter last name" />
                </div>
                <div>
                    <label class="text-slate-800 text-sm font-medium mb-2 block">Địa chỉ email</label>
                    <input name="email" type="text"
                        class="bg-slate-100 w-full text-slate-800 text-sm px-4 py-3 rounded focus:bg-transparent outline-green-500 transition-all"
                        placeholder="Enter email" />
                </div>
                <div>
                    <label class="text-slate-800 text-sm font-medium mb-2 block">Số Điện Thoại</label>
                    <input name="number" type="number"
                        class="bg-slate-100 w-full text-slate-800 text-sm px-4 py-3 rounded focus:bg-transparent outline-green-500 transition-all"
                        placeholder="Enter mobile number" />
                </div>
                <div>
                    <label class="text-slate-800 text-sm font-medium mb-2 block">Mật Khẩu</label>
                    <input name="password" type="password"
                        class="bg-slate-100 w-full text-slate-800 text-sm px-4 py-3 rounded focus:bg-transparent outline-green-500 transition-all"
                        placeholder="Enter password" />
                </div>
                <div>
                    <label class="text-slate-800 text-sm font-medium mb-2 block">Xác Nhận Mật Khẩu</label>
                    <input name="cpassword" type="password"
                        class="bg-slate-100 w-full text-slate-800 text-sm px-4 py-3 rounded focus:bg-transparent outline-green-500 transition-all"
                        placeholder="Enter confirm password" />
                </div>
            </div>

            <div class="mt-12">
                <a href="@Url.Action("Course", "Home")"
                    class="mx-auto block py-3 px-6 text-sm font-medium tracking-wider rounded text-white bg-green-600 hover:bg-green-700 focus:outline-none cursor-pointer text-center">
                    Đăng Nhập 
                </a>
            </div>
        </form>
    </div>

    <img src="~/image/img32.jpg"
        class="mx-auto" />
</body>
</html>

